{% extends 'home.html' %}

{% block navbar %}
    {% include 'navbars/mentor_nav_bar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            
            <h2 class="heading-box">Upcoming Meetings</h2>
            <table class="table table-striped table-bordered table-assignments">
                <thead>
                <tr>
                    <th scope="col">Meeting</th>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Student</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for meeting in meetings %}
                    
                    <tr>
                        {% for m in meeting %}
                        <td>{{ m }}</td>
                        {% endfor %}
                        <td><button class="btn btn-primary">Join</button></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No upcoming meetings.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            
            <h2 class="heading-box">Mentee Messages</h2>
            <table class="table table-striped table-bordered table-assignments">
                <thead>
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Student Email</th>
                    <th scope="col">Message</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.Student_Name }}</td>
                        <td>{{ message.Student_Email }}</td>
                        <td>{{ message.Message }}</td>
                        <td><button class="btn btn-primary">Respond</button></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No messages to display.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .heading-box {
        display: inline-block;
        padding: 10px;
        border: 2px solid #333;
        border-radius: 10px;
        margin-bottom: 20px;
        font-weight: bold;
        text-transform:none;
        margin-top: 20px;
        box-shadow: 0 0 5px rgba(235, 6, 6, 0.705);
        margin-left: 260px;
        
    }

   
table.table-assignments {
  font-size: 14px;
  font-family: calc(), sans-serif;
  font-weight: normal;
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.705);
  text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 450px;
    width: 150%;
    overflow: hidden;
    margin-left: 250px;
    margin-right: 20px;
}

table.table-assignments th {
  font-size: 14px;
  font-family: calc(), sans-serif;
  font-weight:bold;
  
}


table.table-assignments td {
  font-size: 14px;
  font-family: calc(), sans-serif;
  font-weight: normal;
 
}

</style>

{% endblock %}