<style>
  .navbar-container {
  position: fixed;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  width: 140px;
  height: 300px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #343a40;
  overflow: hidden;
  transition: all 0.9s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.navbar-container:hover {
  width: 350px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
  .navbar {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 80px;
      box-sizing: border-box;
      opacity: 0;
      transition: opacity 0.5s ease;
  }


  .navbar-container:hover .navbar {
      opacity: 1;
  }


  .navbar-brand {
      display: none;
  }


  .nav-item {
      margin: 0 10px;
  }


  .navbar-toggler {
      display: none;
  }
  .scrollable-content {
      height: 100%;
      width: calc(100% - 80px);
      overflow-y: auto;
      padding-right: 10px;
  }

  .scrollable-content::-webkit-scrollbar {
      width: 4px;
      background-color: rgba(0, 0, 0, 0.1);
  }

  .scrollable-content::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
  }
  .scrollable-content::-webkit-scrollbar-track {
      background-color: rgba(160, 70, 70, 0.1);
      border-radius: 3px;
  }

 .scrollable-content {
      scrollbar-width: thin;
      scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.1);
  }
  .menu-text {
  position: absolute;
  left: 85px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(249, 245, 245);
  font-size: 15px;
  font-weight: bold;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-style: calc();
}
</style>
   
  <div class="navbar-container">
    <div class="menu-text">DASHBOARD</div>   
    <nav class="navbar navbar-dark bg-dark">
        <div class="scrollable-content">
            <div class="navbar-collapse">
                <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mentor' user_id %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'meeting_scheduler' user_id %}">Meeting Scheduler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'collaboration_portal' user_id %}">Collaboration Portal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'event_create' user_id %}">Create Event</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
        </li>
      </ul>
    </ul>
  </div>
</div>
</nav>
</div>